.vs/
.vscode/
bin/
obj/

Delegates/Mini-project-to-practice-delegates/ClubMembershipApplicationPracticeProject/bin
Delegates/Mini-project-to-practice-delegates/ClubMembershipApplicationPracticeProject/obj

Delegates/Mini-project-to-practice-delegates/ClassLibrary1/bin
Delegates/Mini-project-to-practice-delegates/ClassLibrary1/obj